a{
  text-decoration: none;

}



.list{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  width: 500px;
  border-bottom: 2px solid blue;

  
}


li{
  list-style: none;
}
.sub{
  display: none;
  
}

.item:hover .sub{
  display: block;
  

}
